<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  
    <!-- Custom application-wide settings -->
    <appSettings>
        <add key="ApiKey" value="12345678" />
    </appSettings>

    <!-- Database connection strings -->
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>